@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.active {
  border-bottom: solid white 2px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;

  div:nth-child(1) {
    font-weight: 900;
    font-size: 30px;
    transition-duration: 0.2s;
    border-bottom: dashed 3px rgba(0, 0, 0, 0);
  }

  div:nth-child(1):hover:not(.active) {
    transform: scale(1.1);
    border-bottom: dashed 3px white;
  }

  div:nth-child(1):hover {
    transform: scale(1.1);
  }

  ul {
    display: flex;
    list-style: none;
    gap: 30px;

    li {
      font-weight: 900;
      transition-duration: 0.2s;
      border-bottom: dashed 3px rgba(0, 0, 0, 0);
    }

    li:hover:not(.active) {
      transform: scale(1.1);
      border-bottom: dashed 3px white;
    }

    li:hover {
      transform: scale(1.1);
    }
  }
}

.importantly {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;

  .importantly-text {
    max-width: 500px;

    h1 {
      margin-bottom: 20px;
    }
  }

  .active-icon {
    max-width: 400px;
    font-size: 200px;
    text-align: center;
  }
}

main {
  background-color: black;
  padding: 10px;

  h2 {
    margin-bottom: 20px;
  }
}

footer {
  background-color: black;
  padding: 50px;
}

.footer-list-box {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.footer-list {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  div {
    display: flex;
    justify-content: space-between;

    span:nth-child(1) {
      font-weight: 700;
    }
  }
}

.bars {
  font-size: 20px;
  display: none;
  cursor: pointer;
}

// .information-exposition {
//   display: flex;
//   justify-content: space-evenly;

//   .text-1 {
//     width: 47%;
//     background-color: rgb(26, 25, 25);
//     padding: 20px;
//     border-radius: 20px;
//   }
// }

.title-text {
  font-size: 17px;
}

#sidepanel {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: 100vh;
  transition: width 0.5s ease;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px); ;
}
.sidepanel-item {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  list-style: none;
  justify-content: center;
  font-size: 19px;
  li {
    transition-duration: 0.2s;
    width: 200px;
    span {
      display: block;
    }
    span:nth-child(1) {
      margin-bottom: 5px;
    }
  }
  button {
    padding: 10px;
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
  }
}




@media screen and (max-width: 1268px) {
  .card-about {
    flex-direction: column;
    align-items: center;
  }
  .i-about {
    text-align: center;
  }

  .photo-school {
    width: 70%;
  }
}
.information-exposition {
  gap: 20px;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .table {
    table {
      display: block;
      overflow-x: scroll;

      td,
      th {
        min-width: 250px;
      }
    }
  }
  .content-box {
    .content,
    .content:nth-child(2n) {
      align-items: center;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 992px) {
  .footer-list-box {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .photo-school {
    width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .photo-prime {
    width: 70%;
  }
  .cards-exposition {
    .card-exposition {
      align-items: center;
      .photo-exposition {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        .photo {
          width: 90%;
        }
      }
    }
  }
  .information-exposition {
    flex-direction: column;
    .text-1 {
      width: 100%;
    }
  }
  .card-text-prime {
    width: 90%;
  }

  .card-text-prime {
    font-size: 25px;
  }

  .enroll {
    height: 350px;

    form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .importantly {
    flex-direction: column;
    text-align: center;
  }

  nav {
    ul {
      display: none;
    }
  }

  .bars {
    display: inline-block;
  }

  .subscribe {
    height: 200px;

    div {
      flex-direction: column;
      border-radius: 50px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .card-text-prime {
    font-size: 20px;
  }
  .text-1 {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .text-about {
    font-size: 15px;
  }
}

@media screen and (max-width: 436px) {
  .photo-prime {
    width: 90%;
  }

  .photo-school {
    width: 100%;
    padding: 10px;
  }

  .card-text-prime {
    font-size: 15px;
  }
}

@media screen and (max-width: 436px) {
  .importantly {
    p {
      font-size: 14px;
    }
  }
}
